@import "./bootstrap_overrides";
@import "~bootstrap/scss/bootstrap";

$material-icons-font-path: '~material-icons/iconfont/';
$text-color: whitesmoke;

@import '~material-icons/iconfont/material-icons.scss';

#menu-bar {
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.top-0 {
  top: 0;
}

.bull-dot {
  content: "\2219";
}

body {
  font-family: 'Inconsolata', monospace;
  overflow: auto;
}

html {
  overflow: auto;
}

body, html, .full-height {
  height: 100%;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  color: #e9a54f;
}

.no-max-width {
  max-width: none !important;
}

.bg-browlee {
  background-color: #473133;
}

.bg-radish-pink {
  background-color: #ffebe9;
}

#header-about-short {
  color: #c2b5b5;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

.head-left {
  color: $text-color;
  flex-grow: 0;
}

.avatar {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.min-500 {
  min-height: 500px;
}

.thought-bubble {
  position: relative;
  background: #e9a54f;
  border-radius: .4em;
  top: 4px;
  left: 4px;
}

.thought-bubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color:  #e9a54f;
  border-top: 0;
  border-left: 0;
  margin-left: -7.5px;
  // margin-top: -15px;
}

// Credit from css tricks .com for the typewriter
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #e9a54f; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(12, end),
    blink-caret 0.75s step-end 5;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e9a54f ; }
}
