<div class="row justify-content-md-center js-runner-bg-grey m-0 js-runner-content-center">
  <div class="col-sm-10 col-lg-6">
    <div class="card">
      <div class="card-header">
        Home
      </div>
      <div class="card-body">
        <span>This is the home of Max Grucella. He lives here. This place may change as he
          gets more time to learn interesting web things. </span>
        <span>If you want to contact Max or learn more use one of the below links.</span>
      </div>
      <div class="card-footer">
        <a href="https://gitlab.com/Gephery" class="btn btn-primary btn-lg" role="button">GitLab</a>
        <a href="https://github.com/Gephery" class="btn btn-primary btn-lg" role="button">GitHub</a>
        <a href="mailto:gephery@gmail.com" class="btn btn-primary btn-lg float-right" role="button">
          <i class="material-icons">email</i>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        About
      </div>
      <div class="card-body">
        <span>In a very general statement, I love to program. When I first encountered
        programming it was in the form of Minecraft. That popular game really got me
        interested in monotonous and boring things. And what the most boring of all things
        C/C++! I joke, but the development of Minecraft got me interested in something
        I had originally disliked. Slowly it has become Web dev that has taken my interest
        from there. Although I do like web dev, I like it more as a hobby. Mostly because
        it is one of those hobbies that can take up all your free time. For work I would prefer
        something more software dev than web dev, but I would take either.</span>
        <span>One last interest I hold is in low level systems. Taking EE courses is something
        I really enjoy, so much so that I have TAed once and am in my second semester of TAing.
        Verilog is not my favorite but C programming is a lot of fun.</span>
      </div>
      <div class="card-footer">
        <a href="../static/Resume.pdf" class="btn btn-primary btn-lg" role="button">Resume</a>
      </div>
    </div>
  </div>
</div>
