<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 bg-color-light-brown">
  <div class="container m-0 p-0 js-runner-no-max">
    <div class="row w-100">
      <div class="col">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar nav nav-pills p-0" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active js-runner-no-border-radius" id="play-game-tab" data-toggle="tab" href="#home"
                   role="tab" aria-controls="play-game" aria-selected="true">
                  <i class="material-icons" style="">home</i>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-runner-no-border-radius" data-toggle="tab" href="#about"
                     role="tab" aria-controls="create" aria-selected="false">
                    <i class="material-icons">info</i>
                  </a>
              </li>
            </ul>
        </div>
      </div>
      <div class="col p-0 text-center">
        <a class="navbar-brand text-center text-white" href="#">Max Grucella<sub>Gephery</sub></a>
      </div>
      <div class="col-lg p-0">

      </div>
    </div>
  </div>
</nav>
